:root {
    --twitter-clr: rgb(29, 155, 240);
    --background-clr: #e6ecf0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*
,* ::after
,* ::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    max-width: 1300px;
    padding: 0;
    /* margin-right: auto;
    margin-left: auto; */
}


.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.material-icons {
    size: 3rem;
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
}

.sidebarOption:hover {
    background-color: var(--background-clr);
    border-radius: 30px;
    color: var(--twitter-clr);
    transition: color 100ms ease-in-out;
}

.sidebarOption.active {
    color: var(--twitter-clr);
}

.sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-clr);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

.sidebar {
    border-right: 1px solid var(--twitter-clr);
    /* flex: 0.15; */
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-twitter {
    color: var(--twitter-clr);
    font-size: 30px;
}

/* feed */
.feed {
    flex: 0.5;
    border-right: 1px solid var(--background-clr);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--background-clr);
    padding: 15px 20px;
}

.feed__header h2 {
    font-size: 1.9rem;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*to hide the feed's scrollbar*/
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    /*specific to Internet Explorer and Microsoft Edge, which controls the behavior of scrollbars when an element's content overflows.*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*tweet box*/
.tweetbox__input img, .kittyPic {
    border-radius: 50%;
    height: 4.5rem;
}

.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--background-clr);
    padding-right: 10px;
}

.tweetBox form {
    /* display flex  stretched the tweet button out to fit its boarder and flex-direction column stretched its boarder into a column that spands lengthwise along the tweet box*/
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    display: flex;
    padding: 20px;
}

.tweetbox__input input {
    flex: 1;
    margin-left: 1.3rem;
    font-size: 1.5rem;
    border: none;
    outline: none
}

.tweetBox__tweetButton {
    background-color: var(--twitter-clr);
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 3rem;
    width: 7.5rem;
    height: 3rem;
    margin-top: 20px;
    margin-left: auto;
}

/* post */
/* Because I used the same image as my profile image, I already have properties specific to this image */
.post__avatar img {
    /* border-radius: 50%;
    height: ; */
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--background-clr);
    padding-bottom: 10px;
}

.post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-clr);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(107, 106, 106);
}

.post__headerText h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: var(--font-fam);
}

.post__headerDescription {
margin-bottom: 10px;
font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 1rem;
}

/* widgets */
.widgets {
    flex: 0.3;
}
.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--background-clr);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border: none;
    background-color: var(--background-clr);
    outline: none;
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}

